<!DOCTYPE html>
<html>
<head>
	<title>Cities list</title>
	<link rel="stylesheet" href="{{ STATIC_URL }}css/style.css" type="text/css" media="screen" title="no title" charset="utf-8">

	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/jquery/1.7.1/jquery.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/polymaps/lib/modernizr/modernizr.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/polymaps/polymaps.min.js"></script>
	<script type="text/javascript" src="{{ STATIC_URL }}js/polymaps/lib/nns/nns.min.js"></script>
	<script src="{{ STATIC_URL }}js/script.js" type="text/javascript" charset="utf-8"></script>
</head>
<body>
	<div id="map_canvas"></div>
</body>

</html>

